.header {
    width: 100%;
    text-align: center;
    padding: 0.8rem;
    background-color: #ffa500;

    &__title {
        color: #fff;
        margin: 0;
        font-size: 2rem;
        text-decoration: none;
    }
}