<div class="container text-center p-12">

   <div class="spinner-border" role="status" *ngIf="estaCarregando">
      <span class="sr-only">Loading...</span>
   </div>

   <div *ngIf="erroNoCarregamento">
      <h2>Deu erro :(</h2>
      <button (click)="carregarContato()"> Tentar novamente </button>
   </div>

   <div *ngIf="!estaCarregando && !erroNoCarregamento" >
      <div class="card" style="width: 18rem; display: flex; float: left; margin: 20px;" >
         <div class="card-body">
           <h5 class="card-title">{{cliente.nome}}</h5>
           <h6 class="card-subtitle mb-2 text-muted">{{cliente.cpf}}</h6>
           <p class="card-text">{{cliente.email}}</p>
         </div>
       </div>
     
   </div>
   <!-- TABELA DE CLIENTES -->
   <br>
   <table class="table table-hover">
      <thead>
         <tr>
            <th scope="col">Saldo</th>
            <th scope="col">Ações</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let conta of contas ">
            <td>{{conta.saldo}}</td>
            <td>
               <button class="btn btn-danger m-1" (click)="deletarConta(conta.id)">Excluir</button>
            </td>
         </tr>
      </tbody>
   </table>

   <button class="btn btn-dark m-1" (click)="voltar()"> Voltar </button>
   <button class="btn btn-primary m-1" (click)="gotoContas(cliente.id)"> Nova conta </button>

</div>